<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ticking clock</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body ng-app="namesApp" ng-controller="nameCtrl">
<ul>
    <li ng-repeat="name in names">{{name}}
      <a href="#" ng-click="remove($index)">Remove</a>
    </li>
</ul>
<form>
    <input type="text" ng-model="enteredname">
    <button ng-click="addName()">Create</button>
</form>
<script>
    var namesApp= angular.module('namesApp', []);
    namesApp.controller('nameCtrl', function($scope, $interval){
        $scope.names= ['sashi','kiran', 'leela'];
   $scope.remove = function(index){
      $scope.names.splice(index,1);
   };
        $scope.addName = function(){
            $scope.names.push($scope.enteredname);
            $scope.enteredname="";
        }
    });

</script>
</body>
</html>
