<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ticking clock</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body ng-app="namesApp" ng-controller="nameCtrl">
Search:
<input type="text" ng-model="query">
<ul>
    <li ng-repeat="name in names| filter:query">{{name}}

    </li>
</ul>
<form>
    <input type="text" ng-model="enteredname">
    <button ng-click="addName()">Add</button>
</form>
<script>
    var namesApp= angular.module('namesApp', []);
    namesApp.controller('nameCtrl', function($scope, $interval){
        $scope.names= ['sashi','kiran', 'leela', 'bavani', 'lavanya', 'sumitra', 'susmita'];

        $scope.addName = function(){
            $scope.names.push($scope.enteredname);
            $scope.enteredname="";
        }
    });

</script>
</body>
</html>