<!doctype html>
<html>
    <head>
        <title>Students App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.min.js"></script>
      <style>
          

           img{
                
                display:inline-block;
                width:500px;
                height:400px;
               
                
            }
           

        </style>  
    </head>
    <body ng-app="shoppingCart">
        <div class="container" ng-controller="ShoppingController"> 
        <h1 class="text-center">Shopping Cart App</h1>
            
<!--
            <ul class="list-unstyled">
            <li ng-repeat="item in items">
                <div>
                    
                <img ng-src="images/{{item.name}}.jpeg">
                    <h3>{{item.name|uppercase}}</h3>
                    <h5>{{item.price | currency}}</h5>
                    <button class="btn btn-primary" ng-click="addToCart($index)">Add to Cart</button>
                </div>
            </li>
            
            </ul>
-->
            <div class="row" ng-repeat="keys in items | groupBy:2">
                    <div class="col-xs-6" ng-repeat="item in keys">
                             <div class="text-center">
                                    <h3>{{item.name|uppercase}}</h3>
                                <img ng-src="images/{{item.name}}.jpeg">
                                    <h5>{{item.price | currency}}</h5>
                                    <button class="btn btn-primary" ng-click="addToCart($index)">Add to Cart</button>
                                </div>
                    </div>
            </div>
            
            <br><br>
            <div class="text-center">
                <button class="clear btn btn-large btn-success" ng-click="summary=true">Click to see Cart Summary</button>
                <h5 ng-show="summary===true" >You have chosen {{count}} items and they are: {{showSummary()}}.Total Amount to be paid is {{total}}$.</h5>
            </div>
            
        </div>
           
    <script>
        
        var app= angular.module('shoppingCart',['angular.filter']);
       app.controller('ShoppingController', function($scope){
           
           $scope.summary=false;
           $scope.total =0;
           $scope.count=0;
           $scope.items=[
               {name:'ipad', price:600, isselected:false},{name:'iphone', price:600, isselected:false},
               
               {name:'ipadmini', price:400, isselected:false},{name:'macbook', price:2000, isselected:false}
               ];
           
           $scope.addToCart = function(index){
              
               $scope.items[index].isselected = true;
               $scope.total += $scope.items[index].price;
               $scope.count++;
               
               
               
           }
           
           
           $scope.showSummary = function(){
               var text="";
               for(var i=0;i<$scope.items.length;i++){
                   if($scope.items[i].isselected === true) {
                       text = text + $scope.items[i].name.toUpperCase() + ",";
                       
                   }
               }
               text=text.slice(0,text.length-1);
               return text;
           }
           
           
       });
        </script>
    </body>
</html>